body {
    background-image: url(images/عکس\ تیره\ پس\ زمینه.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#modalShop {
    width: 30%;
    height: 60vh;
    background-color: rgba(1, 251, 255, 0.183);
    border: 1vh solid rgb(4, 0, 255);
    box-shadow: 0 0 10px rgb(0, 229, 255);
    border-radius: 5%;
    margin: 5% auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

#CarOperation {
    border: none;
    outline: none;
    height: 5vh;
    width: 50%;
    font-size: 4vh;
    font-weight: bold;
    background-color: rgba(3, 230, 255, 0.624);
    transition-duration: 0.1s;
}

#modalShop label {
    font-size: 5vh;
    font-weight: bold;
}

#modalShop select {
    width: 50%;
    height: 7vh;
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 7vh;
    background-color: rgba(3, 230, 255, 0.624);
}

#modalShop select option {
    font-size: 3vh;
}

#btn {
    width: 15%;
    height: 5vh;
    margin-top: 5vh;
    color: black;
}

#modal {
    width: 30%;
    height: 60vh;
    background-color: rgba(1, 251, 255, 0.183);
    border: 1vh solid rgb(4, 0, 255);
    box-shadow: 0 0 10px rgb(0, 229, 255);
    border-radius: 5%;
    margin: 5% auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
    position: relative;
}

#modal * {
    margin: 0;
    color: rgb(234, 255, 0);
}

#back {
    font-size: 5vh;
    position: absolute;
    left: 1vh;
    top: 1vh;
    cursor: pointer;
}

#modal h2 {
    font-size: 6vh;
}